﻿@model DataQAudit.domain

@{
    ViewBag.Title = "save";
}

<h2>create or update</h2>

@using (Html.BeginForm("addDomain", "admin", FormMethod.Post, new { role = "form" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <div class="form-group">
        @if (Model != null)
        {
            @Html.HiddenFor(a => a.id)
        }
        @Html.LabelFor(a => a.clientName)
        @Html.TextBoxFor(a => a.clientName, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.clientName)
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.domain1)
        @Html.TextBoxFor(a => a.domain1, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.domain1)
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.publicKey)
        @Html.TextBoxFor(a => a.publicKey, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.publicKey)
    </div>
    
    <button type="submit" class="btn btn-default">Submit</button>
    @Html.ActionLink("back", "admin", null, new { @style = "padding-left:50px;font-weight:bold;" })
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}