﻿@model IEnumerable<DataQAudit.user>

@{
    ViewBag.Title = "admin";
    //  Layout = "~/Views/Shared/_Layout.cshtml";
    // var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 10);
}
<link href="../Content/Site.css" rel="stylesheet" />

@if (Session["LoggedUserId"] != null)
{
    <div style="margin-left:25%">
        <text> Welcome @Session["LoggedUserId"].ToString() </text>    <br />
        <text>Swabz System Database</text>    <br />
    </div>
}
<div >
    <img src="~/Content/image/SwaBz-Systems-LLC.jpg" class="navbar-nav col-lg-2" style="margin-left:0.6%" />
    <div class="navbar-nav col-lg-2" style="margin-left:65%">
        @Html.ActionLink("Add New User", "crudOperation", "admin", null, new { @style = "font-size:15px" })
        <br />
        @Html.ActionLink("Add New Domain", "addDomain", "admin", null, new { @style = "font-size:15px" })
    </div>
</div>
<div id="grid" >
    @{  WebGrid grid=new WebGrid(source:Model, canPage: true, rowsPerPage: 10);}
    @grid.GetHtml(
tableStyle: "table table-responsive PGrid ",
headerStyle: "Header",
columns: grid.Columns
    (
        grid.Column(columnName: "userId", header: "User Id"),
        grid.Column(columnName: "pwd", header: "Password"),
        grid.Column(columnName: "emailId", header: "Email"),
        grid.Column(columnName: "clientName", header: "Client Name"),
        grid.Column(columnName: "companyId", header: "Company Id"),
        grid.Column(columnName: "domain1", header: "Domain"),
        grid.Column(columnName: "publicKey", header: "Public Key"),
        grid.Column(header: "Edit", format:@<text>@Html.ActionLink("Edit", "crudOperation", "admin", new { id = item.id}, null)</text>),
        grid.Column(header: "Delete", format:@<text>@Html.ActionLink("Delete", "delete", "admin", new { id = item.id }, null)</text>)
    )
)
</div>

@Html.ActionLink("back", "login", "Home", null, new { @style = "font-size:20px" })