﻿
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.css" rel="stylesheet" />

<div class="excelView">
 
    <script>
        $(function () {
            $("#date").datepicker({
                dateFormat: 'mmddyy',
                constrainInput: true
            });
        });               
    </script>

    
    <div >

        @using (Html.BeginForm("uploadExcel", "Client", null, FormMethod.Post))
        {
            @Html.Raw(ViewBag.Error)
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <text>Select Date To Pull Record</text>    <br />
            <p>Date: <input type="text" id="date" name="fileName"></p>
            <input type="submit" value="Submit" style="color:black" />   
        }
     
</div>
  

    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> 
</div>



<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>