﻿@model DataQAudit.user


@{
    ViewBag.Title = "home";
    Layout = "~/Views/Client/clients.cshtml";
}
<meta name="viewport" content="width=1024, maximum-scale=1">

<div id="wrapper">
    <div class="col-lg-2" style="background-color:#f8f8f8;border-right: 1px solid #e7e7e7;height: 612px"><!--617px-->
        </br>    <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form col-lg-11">

                                @using (Ajax.BeginForm("uploadExcel", "Client", new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.Raw(ViewBag.Error)
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary()
                                    @Html.Raw(TempData["msg"])

                                    <input name="files" class="form-control" type="file" multiple />
                                    <span class="input-group-btnd">
                                        <input type="submit" value="Upload Reports" class="btn btn-primary  form-control" onclick="openCity(event, 'menu0')" />
                                    </span>
                                }
                            </div>

                        </li>

                        <li>
                            @Html.ActionLink("Dashboard", "about", "Client")
                        </li>



                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
    </div>


    <div class="col-md-10 " style="margin-top: 1%">
        <div id="menu0" class="tabcontent col-md-10">
            <canvas id="my_canvas" width="1000" height="540"></canvas>

        </div>
        <table style="margin-left: 3.5%;width: 93%;" id="menu1" >
            <tr style="font-size: x-large;font-weight: bold;color: navy;">
                <td colspan="4">
                   
                        Welcome to DataQAudit Reporting Platform (Current Logged User - SaskTel)
                   
                </td>
            </tr>
            <tr><td></td></tr>
            
            <tr>
                <td style="text-align: justify;font-size: small;" colspan="4">
                
                    DataQAudit Reporting Platform provides business friendly means to navigate through high volume of Auditing  Statistics  produced  by  the  DataQAudit  Platform  while  analyzing  and  auditing  Source  and Target  Data  Points.  Using  DataQAudit  Reporting  Platform  you  will  be  able  to  consume  various Statistics  and  Trends  of  Defective  Data  Points  across  Audit  Cycles  and  make  informed  business decisions on Depth & Breadth of Quality of your Data Migration / Conversion Projects; the Reporting Platform provides required level of details much needed for gaining confidence on high volume data Migration / Conversion from Legacy Technologies to Contemporary Technologies.
              
                </td>
            </tr>
           
            <tr>
                <td style="text-align: justify;font-size: small;" colspan="4">
                   
                        DataQAudit  is  currently  configured  to  analyze  and  audit  following  DB2  Source  Tables  of  MARTENS 13.2 to Oracle Target Tables of Optius-ODiN for SaskTel:
                </td>     
            </tr>
            <tr>
                <td></td><td></td>
                <td style="vertical-align: text-top;font-size: small;"><b>1.</b></td>
                <td style="text-align: justify;font-size: small;">
                   
                       <b>
                            Source  to  Target:  VMR113TN_FACS  =>  FACILITY_TELEPHONE  with  referencing Tables  of CENTRAL_OFFICE, NXX, NPA, TELEPHONE (to view the Schematic Representation of Mapping produced by DataQAudit <a href="#" id="dataQAuditImg" onclick="openImg()">click here</a>)
</b>
                       
                    
                </td>
            </tr>
        </table>
    </div>


        <div id="iid02" class="modal ">
            <form class="modal-content animate">
                <img src="~/Content/image/VMR113TN_FACS-FACILITY_TELEPHONE.png" style="width: 100%;height: 494px" />
            </form>
        </div>

   
     </div>     




<script src="~/Scripts/home.js"></script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
